{% include "header.html" %}
<div class="container-fluid z-1">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="shadow-lg p-3 mb-5 rounded form-shadow">
                <p class="text-center fs-2 fw-bold">Recuperar senha</p>
                <form method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Digite um email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}